*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    background-image: linear-gradient(to bottom right, rgb(53, 130, 245), rgb(16, 62, 131));
    min-width: 100vw;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.main-container {
    padding: 5rem;
    min-width: 80rem;
    margin: auto;
    background-color: white;
    border-radius: 5rem;
}

.form-container {
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
}

.filter {
    width: 100%;
}

.select-filter {
    height: 4rem;
    border-radius: 1rem;
    border: 1px solid rgb(163, 163, 163);
    width: 100%;
    font-size: 1.6rem;
}

.clear {
    padding: 0 2rem;
    height: 4rem;
    background-color: rgb(27, 88, 219);
    border-radius: 1rem;
    border: none;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.5rem;
    width: 50%;
}

.todo-list {
    position: relative;
    padding-bottom: 5rem;
}

.todo-form {
    position: absolute;
    top: 0;
    margin: auto;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.item-to-add {
    height: 4rem;
    width: 80%;
    border-radius: 1rem;
    border: none;
}

.todo-container {
    padding-top: 2rem;
}

.todo-item,
.new-todo {
    position: relative;
    text-indent: 2rem;
    line-height: 4.8rem;
    height: 4.8rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(222, 232, 252);
    list-style-position: inside;
    transform-origin: top left;
    border-radius: 1rem;
    border: 1px solid rgb(163, 163, 163);
    width: 100%;
    font-size: 1.6rem;
}

.text {
    display: inline-block;
    outline: 0px solid transparent;
    position: absolute;
    top: 0;
}

.text:active {
    border: none;

}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 1.6rem;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.complete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add,
.complete,
.trash-btn {
    position: relative;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin: 1.6rem;
}

.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 4.8rem;
    padding: 1.6rem;
    transform: translate(-1.6rem, -65%);
    width: max-content;
    background-color: grey;
    text-indent: 0;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.complete:hover .tooltip,
.complete:focus .tooltip,
.trash-btn:hover .tooltip,
.trash-btn:focus .tooltip {
    display: inline-block;
}

.complete:hover.checked .tooltip {
    display: none;
}

.checkmark {
    position: absolute;
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.complete.checked .checkmark {
    background-color: rgb(87, 165, 42);
}

.complete:hover .checkmark {
    background-color: rgb(223, 96, 11);
}

.complete .checkmark::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 1rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}

.complete.checked .checkmark::after {
    display: inline-block;
}

.strike {
    filter: brightness(.8);
}

.strike-through {
    text-decoration: line-through;
}

.delete {
    position: absolute;
    cursor: pointer;
}

.hide {
    display: none;
}

.trash {
    display: inline-block;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-container {
    display: inline-block;
    cursor: grab;
    text-indent: 0;
    line-height: 1;
}

.move {
    position: relative;
    display: inline-block;
    height: .48rem;
    margin: 1.6rem;
    background-color: currentColor;
    border-radius: 10px;
    width: 3.2rem;
    color: rgb(3, 53, 163);
}

.move::before,
.move::after {
    content: '';
    position: absolute;
    left: 0;
    width: 3.2rem;
    height: .48rem;
    border-radius: 10px;
    background-color: currentColor;
}

.move::before {
    transform: translateY(.8rem);
}

.move::after {
    transform: translateY(-.8rem);
}

.dragging {
    background-color: currentColor;
}