body {
    min-height: 200vh;
}

.todo-list {
    padding-bottom: 5rem;
}

.todo-form {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.todo-item,
.new-todo {
    text-indent: 20px;
    line-height: 3rem;
    height: 3rem;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: bisque;
    list-style-position: inside;
    position: relative;
    transform-origin: top left;
}

.text {
    display: inline-block;
    outline: 0px solid transparent;
}

.text:active {
    border: none;

}

.container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-left: auto;
}

.complete {
    margin: 0 1rem 0 auto;
    display: inline-block;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
}

.add, .complete, .trash-btn {
    width: 0;
    height: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 3rem;
    padding: 1rem;
    transform: translate(-1rem, -65%);
    width: max-content;
    background-color: grey;
    text-indent: 0;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.complete:hover .tooltip {
    display: inline-block;
}

.complete:hover.checked .tooltip {
    display: none;
}

.checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(164, 117, 192);
    transform: translateY(25%);
  }

  .complete.checked .checkmark {
    background-color: rgb(223, 96, 11);
  }

  .complete:hover .checkmark {
    background-color: rgb(87, 165, 42);
  }

  .complete .checkmark::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
  }

  .complete.checked .checkmark::after {
    display: inline-block;
  }

.strike {
    filter: brightness(.8);
}

.strike-through {
    text-decoration: line-through;
}

.delete {
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;
}

.hide{
    display: none;
}

.trash {
    transform: translateY(6px);
    width: 1.5rem;
    height: 1.5rem;
}

.move-container {
    display: inline-block;
    cursor: grab;
    text-indent: 0;
}

.move {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    height: .3rem;
    background-color: green;
    border-radius: 10px;
    width: 2rem;
}

.move::before, 
.move::after {
    content: '';
    position: absolute;
    left: 0;
    width: 2rem;
    height: .3rem;
    border-radius: 10px;
    background-color: green;
}

.move::before {
    transform: translateY(.5rem);
}

.move::after  {
    transform: translateY(-.5rem);
}

.dragging {
    background-color: green;
}